/*
=================================== Browsing Grid ===================================
*/
.giu-browse-plugins-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.giu-browse-plugins-grid .giu-browse-plugin {
  width: 50%;
  margin-top: 20px;
}

.giu-browse-plugins-grid .giu-browse-plugin h2 {
  display: inline-block;
}

.giu-browse-plugins-grid .giu-browse-plugin .giu-browse-plugin-meta {
  display: flex;
}

.giu-browse-plugins-grid .giu-browse-plugin .giu-browse-plugin-desc {
  margin-bottom: 10px;
  padding-right: 100px;
}

.giu-browse-plugins-grid .giu-browse-plugin .giu-browse-plugin-meta div:not(:last-child) {
  margin-right: 20px;
}

.giu-browse-plugins-grid .giu-browse-plugin .button {
  margin-top: 10px;
}

.giu-browse-grid .giu-browse-pagination {
  margin-top: 50px;
}

@media screen and (max-width: 640px) {
  .giu-browse-plugins-grid .giu-browse-plugin {
    width: 100%;
  }

  .giu-browse-plugins-grid .giu-browse-plugin .giu-browse-plugin-desc {
    padding-right: 20px;
  }
}

/*
=================================== Browsing Installation Modal ===================================
*/
#giu-install-plugin-modal {
  display: none;
}

#giu-install-plugin-modal .modal-content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  cursor: default;
}

#giu-install-plugin-modal .modal-content-container .install-choice .button {
  margin-top: 10px;
}

#giu-install-plugin-modal .modal-content-container .install-choice {
  flex-basis: 50%;
}

#giu-install-plugin-modal .modal-content-container .install-info {
  flex-basis: 50%;
}

#giu-install-plugin-modal .modal-content-container .install-result {
  display: flex;
  align-items: center;
}
